<html>
  <head>
    <title>STREAMING</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <style>
    body {
        text-align: center;
    }
    </style>
  </head>
  <body>
    <h1>Online Live Streaming</h1>

    <video width="352" height="198" controls>
      <source src="../../../../sample.m3u8" type="application/x-mpegURL">
    </video>

    <!-- <video controls width="250">
  
      <source src="../assets/r11.mp4"
              type="video/mp4">
  
      Sorry, your browser doesn't support embedded videos.
    </video> -->

    <!-- <embed src="../localstream.asx" height=”370” width=”400"> -->

    <!-- <h3>{{ time }}</h3> -->
    <hr>
    <h3> Return to main page ==> <a href="/" class="button">RETURN</a></h3>
    <hr>
    <p> IEMA.org</p>
  </body>
</html>